<div class="c-categories" style="display: none;">
  <ul class="c-categories__list u-lists-reset">
    {% capture cats %} {% for cat in site.categories %} {{ cat | first }} {% endfor %} {% endcapture %} {% assign sortedCats
    = cats | split: ' ' | sort %} {% for category in sortedCats %}
    <li class="c-categories__item">
      {% assign cat_dir = site.category_dir | default: 'category' %}
      <a class="c-categories__link" href="{{ site.baseurl }}/#{{ category }}">        
        <div class="c-categories__container {{empty-figure}}">
          <h2 class="c-categories__header">{{ category }} </h2>
          <span class="c-categories__span">{{ site.categories[category] | size }}</span>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>


  {% assign sorted_cats = site.categories | sort %}
  {% for category in sorted_cats %}
  <div style="padding:30px;"  id="{{ category[0] }}" class="cate_list">
    <h3>{{ category[0] }}</h3>
    <ul>
      {% for post in category[1] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a><small><span style="padding:10px;"> {{ post.date | date_to_string }}</span></small></li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

</div> <!-- ./c-categories -->